@media screen and (max-width: 767px) {
    .wrapper{
        width: 300px;
    }
    .left {
        width: 100px;
    }

    .center {
        width: 200px;
    }
    
    .center-top-left {
        width: 125px;
    }

    .center-top-right {
        width: 75px;
    }
}

@media screen and (max-width: 479px) {
    .wrapper {
        width: 150px;
    }

    .header {
        height: 80px;
    }

    .container {
        height: 100%;
    }

    .left {
        float: none;
        width: 150px;
        height: 100px;
    }

    .center {
        float: none;
        width: 150px;
    }

    .center-top-left {
        float: none;
        width: 150px;
    }

    .center-top-right {
        float: none;
        width: 150px;
        height: 100px;
    }
    

}

