.wrapper {
    width: 400px;
    margin: 0 auto;
    color: white;
}

.header {
    height: 100px;
    background-color: #141f40;
}
    
    .left {
        float: left;
    }

    .left-top-left {
        float: left;
        background-color: #dbd403;
        width: 100px;
        height: 150px;
    }

    .left-top-right {
        float: left;
    }

    .left-upper {
        background-color: #8c2727;
        width: 150px;
        height: 50px;
    }

    .left-lower {
        background-color: #ff9b6e;
        width: 150px;
        height: 100px;
    }

    .left-bottom {
        background-color: #0093b7;
        width: 250px;
        height: 100px;
    }


    .right {
        float: left;
        background-color: #80bfa8;
        width: 150px;
        height: 250px;
    }


    .footer {
        height: 100px;
        background-color: #d98d30;
    }

    .clearfix::after {
        content: '';
        display: block;
        clear: both;
    }

