.wrapper {
    width: 400px;
    margin: 0 auto;
    color: white;
}

.header {
    height: 100px;
    background-color: #141f40;
}
    
    .left {
        float: left;
        background-color: #80bfa8;
        width: 150px;
        height: 250px;
    }
    .right {
        float: left;
    }

    .right-top { 
        background-color: #0093b7;
        width: 250px;
        height: 100px;
    }
    .right-bottom-left {  
        float: left;
        background-color: #dbd403;
        width: 100px;
        height: 150px;
    }
    .right-bottom-right {
        float: left;
    }

    .right-upper { 
        background-color: #ff9b6e;
        width: 150px;
        height: 50px;
    }
    
    .right-lower {
         background-color: #8c2727;
         width: 150px;
         height: 100px;
        }

    .footer {
        height: 100px;
        background-color: #d98d30;
    }

    .clearfix::after {
        content: '';
        display: block;
        clear: both;
    }

